<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Event</key>
		<string>Manchester United Football Club (Newton Heath LYR F.C.) is founded</string>
		<key>Date</key>
		<date>1878-01-01T11:06:32Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/Manchester_United_F.C.#Early_years_(1878%E2%80%931945)</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Floyd Mayweather Jr. wins his first professional fight</string>
		<key>Date</key>
		<string>11. Oct 1996 at 12:00:00</string>
		<key>New item</key>
		<string>https://en.wikipedia.org/wiki/Floyd_Mayweather_Jr.#Titles_in_boxing</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Muhammad Ali is born</string>
		<key>Date</key>
		<date>1942-01-17T10:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/Muhammad_Ali</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Jahangir Khan wins his first World Open</string>
		<key>Date</key>
		<date>1981-11-28T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1981_Men%27s_World_Open_Squash_Championship</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Sir Donald George Bradman celebrates his test debut</string>
		<key>Date</key>
		<date>1928-11-30T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/Don_Bradman</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Roy Makaay scores the fastest goal in UEFA Champions League history</string>
		<key>Date</key>
		<date>2007-03-07T11:00:00Z</date>
		<key>Link</key>
		<string>https://www.bavarianfootballworks.com/2017/4/9/15233936/roy-makaay-fastest-goal-record-uefa-champions-league-history-bayern-munich-real-madrid</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Real Madrid celebrates their 10th Champions League title</string>
		<key>Date</key>
		<date>2014-05-24T10:00:00Z</date>
		<key>Link</key>
		<string>https://www.deccanherald.com/content/409480/real-madrid-celebrates-10th-champions.html</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>FC Bayern Munich is founded</string>
		<key>Date</key>
		<date>1900-02-27T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/FC_Bayern_Munich</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The first soccer club is founded</string>
		<key>Date</key>
		<date>1857-10-24T11:06:32Z</date>
		<key>Link</key>
		<string>http://www.oldest.org/sports/football-clubs/</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Germany wins their first FIFA world cup</string>
		<key>Date</key>
		<date>1954-07-04T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1954_FIFA_World_Cup_Final</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>England wins the FIFA world cup</string>
		<key>Date</key>
		<date>1966-07-30T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1966_FIFA_World_Cup_Final</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The first FIFA World cup starts</string>
		<key>Date</key>
		<date>1930-07-13T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1930_FIFA_World_Cup</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The first UEFA Champions League (European Cup)  game is played</string>
		<key>Date</key>
		<date>1955-09-04T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/European_Cup_and_UEFA_Champions_League_history</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Roger Federer wins his first grand slam title</string>
		<key>Date</key>
		<date>2003-07-06T10:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/2003_Wimbledon_Championships_%E2%80%93_Men%27s_Singles</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Novak Djokovic wins his first grand slam title</string>
		<key>Date</key>
		<date>2008-01-27T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/2008_Australian_Open_%E2%80%93_Men%27s_Singles</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Rafael Nadal wins his first grand slam title</string>
		<key>Date</key>
		<date>2005-06-05T10:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/2005_French_Open_%E2%80%93_Men%27s_Singles</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The longest match in tennis comes to a conclusion</string>
		<key>Date</key>
		<date>2010-06-24T10:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/Isner%E2%80%93Mahut_match_at_the_2010_Wimbledon_Championships</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Roger Federer breaks the record for the most titles won at Wimbledon</string>
		<key>Date</key>
		<date>2017-07-16T10:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/2017_Wimbledon_Championships</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The quickest match in tennis history is played</string>
		<key>Date</key>
		<date>1881-07-13T11:06:32Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1881_Wimbledon_Championship</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Usain Bolt breaks the 100m sprint World Record</string>
		<key>Date</key>
		<date>2009-08-16T10:00:00Z</date>
		<key>Link</key>
		<string>https://www.topendsports.com/sport/athletics/record-100m.htm</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The first modern summer Olympic Games are opened</string>
		<key>Date</key>
		<date>1896-04-06T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1896_Summer_Olympics</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The first winter Olympic Games are held are opened</string>
		<key>Date</key>
		<date>1924-01-25T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1924_Winter_Olympics</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Eliud Kipchoge sets the record for the fastest Marathon run</string>
		<key>Date</key>
		<date>2018-09-16T10:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/Eliud_Kipchoge</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The first Super Bowl is held</string>
		<key>Date</key>
		<date>1967-01-15T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/Super_Bowl_I</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The first NBA (BAA) final game is played</string>
		<key>Date</key>
		<date>1947-04-16T10:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1947_BAA_Finals</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The New York Yankees win their first World series</string>
		<key>Date</key>
		<date>1923-10-15T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/1923_World_Series</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The longest professional game of baseball is concluded</string>
		<key>Date</key>
		<date>1981-06-23T10:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/Longest_professional_baseball_game</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>The Pittsburgh Steelers win their sixth Super Bowl</string>
		<key>Date</key>
		<date>2009-02-01T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/Super_Bowl_XLIII</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Wilt Chamberlain scores the most points in one game in NBA history</string>
		<key>Date</key>
		<date>1962-03-02T11:00:00Z</date>
		<key>Link</key>
		<string>https://en.wikipedia.org/wiki/List_of_National_Basketball_Association_single-game_scoring_leaders</string>
	</dict>
	<dict>
		<key>Event</key>
		<string>Longest game of NBA basketball is played</string>
		<key>Date</key>
		<date>1951-01-05T11:00:00Z</date>
		<key>Link</key>
		<string>http://www.guinnessworldrecords.com/world-records/428821-longest-nba-basketball-game</string>
	</dict>
</array>
</plist>
